@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.0rem;
	line-height: 1.0;
	letter-spacing: 0em;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
button {
	cursor: pointer;
	border: 0;
	background: none;
}
textarea {
	resize: none; /* 요소의 크기 조정 비활성화 */
	border: 0;
}
fieldset {
	border: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table, tr, td, th {
	border-collapse: collapse; /* 테이블의 셀 경계를 병합하여 하나의 단일 경계로 표시 */
}
.skip {
	display: none;
}